/* line 1, SASS/_layoutgrid.scss */
.col-12 {
  width: 100%;
}

/* line 2, SASS/_layoutgrid.scss */
.col-11 {
  width: 91%;
}

/* line 3, SASS/_layoutgrid.scss */
.col-10 {
  width: 83%;
}

/* line 4, SASS/_layoutgrid.scss */
.col-9 {
  width: 75%;
}

/* line 5, SASS/_layoutgrid.scss */
.col-8 {
  width: 66%;
}

/* line 6, SASS/_layoutgrid.scss */
.col-7 {
  width: 58%;
}

/* line 7, SASS/_layoutgrid.scss */
.col-6 {
  width: 50%;
}

/* line 8, SASS/_layoutgrid.scss */
.col-5 {
  width: 42%;
}

/* line 9, SASS/_layoutgrid.scss */
.col-4 {
  width: 33%;
}

/* line 10, SASS/_layoutgrid.scss */
.col-3 {
  width: 25%;
}

/* line 11, SASS/_layoutgrid.scss */
.col-2 {
  width: 16%;
}

/* line 12, SASS/_layoutgrid.scss */
.col-1 {
  width: 8%;
}

/* line 13, SASS/_layoutgrid.scss */
.float {
  float: left;
}

/* line 1, SASS/_body.scss */
body {
  font-family: "Open Sans", Sans-Serif;
  line-height: 0.5 !important;
}

/* line 6, SASS/_body.scss */
h1 {
  font-weight: 100 !important;
  font-family: "Open Sans", Sans-Serif !important;
  margin-top: 5px !important;
}
/* line 10, SASS/_body.scss */
h1 small {
  color: black !important;
}

/* line 15, SASS/_body.scss */
h2 {
  font-weight: 100 !important;
  font-family: "Open Sans", Sans-Serif !important;
}
/* line 18, SASS/_body.scss */
h2 small {
  color: black !important;
}

/* line 23, SASS/_body.scss */
h3 {
  font-weight: 700 !important;
  font-family: "Open Sans", Sans-Serif !important;
}

/* line 28, SASS/_body.scss */
h4 {
  font-weight: 700 !important;
  font-family: "Open Sans", Sans-Serif !important;
  margin-bottom: 0px !important;
}

/* line 34, SASS/_body.scss */
h5 {
  font-weight: 700 !important;
  font-family: "Open Sans", Sans-Serif !important;
  margin-bottom: 0px !important;
}
